<!DOCTYPE html>
<html>
<head>
	<title>LookUp!</title>
	<!-- <link rel="stylesheet" href="./lib/bootstrap3.3.7.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>


<!-- navbar-fixed-top -->
<!-- always scroll and keep at top -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <!-- hamburger menu
    bs-nav-menu indicates what is going to be hidden/shown -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

    <a href="#" class="navbar-brand">LookUp</a>
  </div>


  <!-- outside collapse so wont be hidden -->
  <ul class="nav navbar-nav">
    <li><a href="/home">Home</a></li>
    <li><a href="/home">Fact Of the Day</a></li>
	<li><a href="/home">Learn More</a></li>
  </ul>

  <div class="collapse navbar-collapse" id="bs-nav-demo"> <!-- hide when compressed -->
	  <ul class="nav navbar-nav">
	    <li><a href="/home">More Near You</a></li>
	    <li><a href="/home">Volunteer</a></li>
	  </ul>



	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/">Logout</a></li>
	  </ul>
  </div>
</div>
</nav>


<br>
<br>
<br>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript" src="scripts.js"></script>
