<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles.css">



<div class="container">

  <form class="form-signin" action="/createUser" method="post">
    <h2 class="form-signin-heading">Create New User</h2>

    <label for="inputUsername" class="sr-only">Username</label>
    <input name="inputUsername" id="inputUsername" class="form-control" placeholder="Username">
    <br>
    <label for="inputEmail" class="sr-only">Email</label>
    <input name="inputEmail"id="inputEmail" class="form-control" placeholder="email">
    <br>
    <label for="zipcode" class="sr-only">Zip Code</label>
    <input name="zipcode"id="zipcode" class="form-control" placeholder="Zip Code">
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password">
    <br>
    <button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <br>
    <p><a href="/">Go Back to the login page</a></p>
  </form>

</div> 

<%include partials/footer%>
