<%include partials/navbar%>


<h4>Welcome to the homepage Project Lookup for CS 361!!!</h4>


<h2>Users</h2>
<table id="userTable">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Pwd</th>
        <th>Email</th>
        <th>Zip</th>
    </tr>
</table>


<%include partials/footer%>
