<script>
  setTimeout(function () {
     // after 3 seconds
     window.location = "/home?action=showSurvey";
 }, 3000)
</script>


<h1>You've successfully logged in! You'll be redirected to the homepage in 3 seconds...</h1>
