

/* navbar styling */
.navbar-inverse{
  background: #9370DB;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}




/* login form */
.form-signin {
  max-width: 330px;
  padding-top: 70px;
  margin: 0 auto;
}

#loginbutton.btn-primary{
    background-color: #9370DB;
    border-color: #9370DB;
}




#updateDBButton.btn-primary{
    background-color: #f45042;
    border-color: #f45042;
}
